<style>
    table.table {
        border: 1px solid black;
    }

        table.table th {
            font-size: 20px;
            font-family: verdana, sans-serif;
            border: 1px solid black;
        }

        table.table td {
            font-family: verdana, sans-serif;
            border: 1px solid black;
        }
</style>

<table class="table">

    <div class="text-center">
        <h1 class="display-4">Student</h1>
    </div>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Course</td>
        <td>Enrollment Date</td>
        <td>Details</td>
        <td>Edit</td>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.Course</td>
            <td>@student.DateEnrolled.ToString("yyyy-MM-dd")</td>
            <td>
                <a asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a>
            </td>
            <td>
                <a asp-action="EditStudent" asp-route-id="@student.Id">Edit Student</a>
            </td>
        </tr>
    }
</table>
<a href="@Url.Action("AddStudent", "Student")" class="btn btn-primary">Add Student</a>
